.donacije {
    width: 1261px;
}

.donacijaForma {
    border-radius: 1.5em;
        height: auto;
        width: 350px;
        border-color: rgb(33, 48, 33);
        border-style: solid;
        background-color: rgba(143, 132, 132, 0.396);
        margin-top: 30px;
        padding-top: 10px;
        text-align: left;
        padding-bottom: 20px;
        margin-left: 430px;
        font-size: large;
        padding-left: 50px;
    
}

.donacijaNaslov {
    text-align: center;
    font-size: larger;
    margin-bottom: -3%;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(33, 48, 33);
    margin-left: -40px;
}

#novaDonacijaButton {
    border-color: rgb(33, 48, 33);
    border-width: 2px;
    background-color: var(--backgroundColor);
}

.donacijaForma .vrijednostDonacije {
    margin-left: 40px;
    width: 200px;
    height: 20px;
}

.donacijaForma select {
    margin-left: 40px;
    width: 210px;
    height: 25px;
}

#message-input3 {
    margin-left: 40px;
    width: 200px;
  height: 100px;
  resize: none;
  border: none;
  outline: none;
}

.tipDonacije {
    padding-top: 20px;
}

#objaviButton {
    margin-left: 100px;
    background-color: var(--backgroundColor);
}

.warning1 {
    color: brown;
    font-size: 14px;
    padding-left: 20px;
}