.filterBox {
    font-size: x-large;
    width: 235.39px;
    background-color: rgba(143, 132, 132, 0.251);
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 0.5em;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.filterLabel {
    padding-top: 15px;
    font-weight: bold;
    font-size: 25px;
    margin-right: 27px;
    margin-left: 25px;
}

.top {
    text-align: left;
    padding-bottom: 30px;
    border-top-color:rgba(41, 40, 40, 0.582) ;
    border-top-width: 3px ;
    border-top-style: solid;
}
.vrsteLabel {
    text-align: center;
    margin-right: 180px;
}

.top input {
    margin-left: 10px;
}

.bottom input {
    margin-left: 10px;
}

.bottom {
    border-top-color:rgba(41, 40, 40, 0.582) ;
    border-top-width: 3px ;
    border-top-style: solid;
    text-align: left;
    
}
.statusLabel {
    text-align: center;
    margin-right: 180px;
    margin-top: 30px;
}
