
    .kontaktForma {
        border-radius: 0.5em;
        height: auto;
        width: 700px;
        /* border-color: rgb(33, 48, 33); */
        /* border-style: solid; */
        background-color: var(--backgroundColor);
        margin-top: 30px;
        padding-top: 10px;
        text-align: left;
        padding-bottom: 20px;
        margin-left: 40px;
        /* border-color: rgb(33, 48, 33); */

}

.kontaktForma input {
    width: 200px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 0.25em;
}

.kontaktForma .divIme {
    margin-top: 50px;
}

.kontaktForma label {
    margin-left: 150px;
    height: 100px;
}

#message-input {
    margin-left: 150px;
    padding: 10px;
    width: 400px;
    height: 150px;
    resize: none;
    border-radius: 0.25em;
    vertical-align: top;
    white-space: pre-line;
    border-style: inset;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.message-box {
    margin-top: 10px;
    display: block;
}

.message-box label {
    
    height: 20px;
}


#submitButton1 {
    margin-left: 279px;
    margin-top: 20px;

}

.kontaktNaslov {
    text-align: center;
    font-size: x-large;
    margin-bottom: -3%;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(33, 48, 33);
}

.messageSent {
    font-size: xx-large;
    margin-right: 200px;
    margin-top: 250px;
}