.opciPodaci {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    width: 1261px;
}

.okvirOdgovora {
    margin-left: 200px;
    margin-right: 105px;
}

.odgovori {
    text-align: center;
    font-size: x-large;
    margin-bottom: -3%;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: brown;
    margin-bottom: 40px;
}