.popisDonacija {
    margin-left: 400px;
    text-align: left;
    margin-top: 30px;
    padding-bottom: 100px;
}

.naslovTablice {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: brown;
}

table td{
    padding-right: 100px;
}

table tr{
    height: 40px;
}

.firstRow {
    border-bottom-color: rgb(48, 45, 45);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

table{
    margin-top: -10px;
    border-collapse: collapse;
}


