.popisBox {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    width: 1261px;
    padding-bottom: 30px;
}

.popisBox .left
{
    width: 261px;
}

.popisBox .right
{
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: -20px;
}